<div class="a-list">

	<h4> {{ item.name }} </h4>
	<p> {{ item.date | date : shortTime : 'UTC' }} </p>
	
	<div ng-repeat="task in item.task track by $index">
	<button class="btn btn-danger" ng-click="removeTask(item.id, $index)">X</button> {{task}}
	</div>

	<hr/>

	
	<form class="form-inline">

		<input class="form-control stretch" type="text" ng-model="task" placeholder="Add a task">
		<button class="btn btn-primary" ng-click="addTask(item.id, task); task='';">+</button>
	
	</form>
	<button class="btn btn-warning" ng-click="removeList(item.id)">Remove List</button>
</div>