<header class="container">
	<div class="col-md-4">
      <h1>{{ HC.title }}</h1>
	</div>
	<div class="col-md-8">
		<section class="a-list" style="float: right;">
			<form class="form-inline">
				<input class="form-control stretch" type="text" ng-model="newName" placeholder="Create New List">
				<button class="btn btn-primary" ng-click="addList(newName); newName='';">Create</button>
			</form>
		</section>
	</div>
</header>
<hr/>

<our-list ng-repeat='item in list' item='item'></our-list>

</section>




