<custom-header></custom-header>


<div class="container">
	<section class="new-project">
	<form class="form-inline">
		<input class="form-control stretch" type="text" ng-model="newName" placeholder="Create New Project">
		<button class="btn btn-primary" ng-click="PC.addProject(newName); newName='';">Create</button>
	</form>
	</section>
</div>
<hr/>

<section>
	<div ng-repeat='project in PC.projects' >
		<project-panel>
		<div class="project-panel" ng-click="PC.loadProject(project.filename)" >
			<img src="{{ project.image }}" alt="#">
			
			<div class="text">
				<h4>{{ project.name }}</h4>
				<p>{{ project.date | date : shortTime : 'UTC' }}</p>	
				<hr/>
				<h5>Scrum Master: {{ project.scrum_master }}</h5>
				<h5>Project Owner: {{ project.project_owner }}</h5>
				<h5>Team:
					<span ng-repeat='team_member in project.team'>
						{{ team_member }}
					</span>
				</h5>
				<h5>Client: {{ project.client_company}}</h5>
				</div>
			</div>
		</div>
		<project-panel>

	</div>
</section>